<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title> iG</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="demo.css" rel="stylesheet">
	<link href="jquery.gridster.css" rel="stylesheet">
</head>
<body>
	<div class="gridster container">
	    <ul></ul>
	</div>
</body>
<!-- script section -->
<script id="gmail_template" type="text/plain">
<div id="results">
	<div id='unread_count'>Unread: <%= data.count %></div>
    <table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th data-field="subject">Subject</th>
			</tr>
		</thead>
		<tbody id="gmail_table_data_anchor">
        </tbody>
    </table>
</div>
</script>
<script id="stock_template" type="text/plain">
<div id="results">
    <table class="table table-condensed">
		<thead>
			<tr>
				<th data-field="id">Symbol</th>
				<th data-field="price">Last Price</th>
			</tr>
		</thead>
		<tbody id="stock_data_anchor">
	        <% _.each(results, function(result) { %>
	        <tr>
	            <td><%= result.Symbol %></td>
	            <td><%= result.LastTradePriceOnly %></td>
	        </tr>
	        <% }); %>
        </tbody>
    </table>
</div>
</script>
<!-- base scaffolding -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="gridster.js"></script>
<!-- widget requirements -->
<script src="bitcoinprices.js"></script>
<!-- app files -->
<script src="app.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</html>